<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.suhocki.mybooks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.initial.InitialActivity"
            android:launchMode="singleTop"
            android:theme="@style/Dialog" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/Dialog" />

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.books.BooksActivity"
            android:windowSoftInputMode="adjustPan"
            tools:targetApi="jelly_bean" />

        <activity
            android:name=".ui.details.DetailsActivity"
            android:parentActivityName=".ui.books.BooksActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.books.BooksActivity" />
        </activity>

        <service
            android:name=".ui.background.BackgroundService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f779c23c3f096ce55675eb5a228961f2811e8fa2" />
    </application>

</manifest>